In [1]:

import pymongo


# Here iam coping the client code which is cluster0  , so this code helps us connect with cluster0  which is my client for my mongodb
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://Mahendra:JTx5FZA7parBernO@cluster0.klmitxd.mongodb.net/?retryWrites=true&w=majority" # just mention the password of the cluster0 database which we must save at somewhere while creating the database

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### By the above output i successfully connected to the client of MongoDB 

### Steps to work with MongoDB database
    
 - first create database in MongoDB
 - create collection
 - create a file for storing collection
 - create Document
 - insert document inside the file 
    
### or

### summary of Mongodb

-  1st we need to creata a client in the atlas mongodb cloud Server
-  2nd we need to creata a database in the atlas mongodb cloud Server
-  3rd we need to creata a collection inside the database in the atlas mongodb cloud Server
-  4th we need to pass the data in the form of document  in the created collection which is inside the database
-  And the document is nothing but a key:value pair , so we pass the data in the form of key value pair in the mongodb database

In [2]:
# Now iam creating database in my MongoDB
database_name='student1'
student_database=client[database_name]

In [3]:

# creating a collection
collection='student_database'

In [4]:

# storing the created database which is student_database in 1 file which 
students_details_collection=student_database[collection]

In [5]:



# Creating a document which it consist of data in Key:value pair because mongodb takes data in Json formate with Key:value pair dictionary form
student_data={"name":"Mahendra",
              "college":"LPU",
              "Address":"Punjab"}


####  By the above code we just created a document which is suits for MongoDB , adn we didnot insert this document yet

In [6]:

# lets create another document 
student_data={"name":"Max-payn",
              "college":"IIT",
              "Address":"Chennai"}

In [7]:


# inserting the created document in MongoDB
students_details_collection.insert_one(student_data) # for inserting 1 document we need to use insert_one()

InsertOneResult(ObjectId('659a6d246574b3e9b7ba97f5'), acknowledged=True)

In [8]:

### Steps to Know the Inserted docuement in MongoDB
# Open MongoDB Atlas ->click on Databases-> click on collection-> there check the created data with Key:value pair

In [9]:

# Fetching the inserted data in the mongodb database
student_corner=students_details_collection.find() # here by using the find() iam going to find the document which i saved inside the collection and which it got saved in 1 file which is students_details_collection thats why iam finding that file
student_corner.next()  # by using the next() i can fetch the inserted document in MongoDB

student_corner.next() # as you can see here first i have created the 2nd document , and then i have inserted in the database, and then fetched the inserted document thorugh the next function , so its depends on how many times we are running the call next fucntion based on the that run time number that particular document will get fetched , so here i have created 2 documents in my MongoDB so inorder to fetch my second document i need to run the next() for 2 time then i could get the 2nd document in my output

{'_id': ObjectId('6593faf0cae6514bc42f2adb'),
 'name': 'Max-payn',
 'college': 'IIT',
 'Address': 'Chennai'}

In [10]:

# so rather than calling the document manually which is in database by using next() , it would be better to use For Loop
for student_details in students_details_collection.find():
    print(student_details)

{'_id': ObjectId('6593f845cae6514bc42f2ada'), 'name': 'Mahendra', 'college': 'LPU', 'Address': 'Punjab'}
{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}

In [11]:

# Lets Try to insert many list of documents in single go 
student_data_list=[{"name":"Sbhubham", "last_name":"KumaP", "Course": "Cyber Security"},
{"City": "bangalore", "name":"Sima", "Collage": "Mumbai University"},
{"name": "Rahul", "Books": "machine Learning", "job": "Data Science"}]

In [12]:

# inserting the created list of documents in MongoDB
students_details_collection.insert_many(student_data_list) # for inserting many documents we need to use insert_one()

InsertManyResult([ObjectId('659a6d266574b3e9b7ba97f6'), ObjectId('659a6d266574b3e9b7ba97f7'), ObjectId('659a6d266574b3e9b7ba97f8')], acknowledged=True)

In [13]:
# fetching the list of documents which are inserted in MongoDB by using For Loop
for student_details in students_details_collection.find():
    print(student_details)

{'_id': ObjectId('6593f845cae6514bc42f2ada'), 'name': 'Mahendra', 'college': 'LPU', 'Address': 'Punjab'}
{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f6'), 'name': 'Sbhubham', 'last_name': 'KumaP', 'Course': 'Cyber Security'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f7'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f8'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

#### Filtering Operations

In [14]:
# searching for the specific name throughout the list of document 
query={"name":"Max-payn"} 

for student_details in students_details_collection.find(query): # here we just need to pass the query variable inside the find() that searches for the assgined dictionary
    print(student_details)

{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}

In [15]:

# Regular Expression = it helps us to search for specfic starting letter words 
myquery={"name":{"$regex":"^R"}} # here i would to search for the data of the specific column which is name and which starts with data letter R

doc=students_details_collection.find(myquery)

for x in doc:
    print(x)

{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f8'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [16]:


# Sort = it helps us to sort the document in different forms
doc=students_details_collection.find().sort("name") # here i sorting the document based on the name column 
for x in doc:
    print(x)

{'_id': ObjectId('6593f845cae6514bc42f2ada'), 'name': 'Mahendra', 'college': 'LPU', 'Address': 'Punjab'}
{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f8'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f6'), 'name': 'Sbhubham', 'last_name': 'KumaP', 'Course': 'Cyber Security'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f7'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}

#### Whichever the operations that we are performing here thats all get reflected or made changes in the MongoDB database based on the operation that we are performing

In [17]:

# deleting the single record
myquery={"name":"sanju"}

students_details_collection.delete_one(myquery) # here by using the delete_one fucntion iam deleting the specific column name which is sanju

for x in students_details_collection.find(): # by this we could check that we succesfully deleted the sanju in our mongodb database
    print(x)

{'_id': ObjectId('6593f845cae6514bc42f2ada'), 'name': 'Mahendra', 'college': 'LPU', 'Address': 'Punjab'}
{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f6'), 'name': 'Sbhubham', 'last_name': 'KumaP', 'Course': 'Cyber Security'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f7'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f8'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [18]:

# deleting the multiple records 
myquery={"name":{"$regex":"^S"}} # here iam trying to delete the records which starts with letter S 

students_details_collection.delete_many(myquery)

for x in students_details_collection.find(): # by this we could check that we succesfully deleted the sanju in our mongodb database
    print(x)

{'_id': ObjectId('6593f845cae6514bc42f2ada'), 'name': 'Mahendra', 'college': 'LPU', 'Address': 'Punjab'}
{'_id': ObjectId('6593faf0cae6514bc42f2adb'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6593fd93cae6514bc42f2ade'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e529b5622cb3549016ab'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e529b5622cb3549016ae'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('6597e7c4b5622cb3549016b0'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('6597e7c8b5622cb3549016b3'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('659a6d246574b3e9b7ba97f5'), 'name': 'Max-payn', 'college': 'IIT', 'Address': 'Chennai'}
{'_id': ObjectId('659a6d266574b3e9b7ba97f8'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

Till so far we have learnt the different mongodb querys which those queries helping us to manage our data in the database of mongodb, so here managing meaning performing the operations on the data like updata ,insert delete adding new data etc, so by following above that many lines of queries we can perform that , rather than writing that much quieries it would be better to create some certain sort of code of package so by just importing that package it automates our process by just following simple methods we can easily execute our code which we want to perform on the data which is available inside the database so now iam going to develop that mongodb package code which automates everything of process interms of executing certain queries of mongodb and so on .. etc 

so the package code which automates the mongodb database so that is not only to automate mongodb database which is nosql, that code is applicable to other databases like cassendra postgre sql databases too , but for now our problem statement is to develop a package of mongodb database and we need to publish that package code (which automates some queries in short time) in the website of pipy so the users can get our published package and run that mongodb database package and run the different mongodb database queries with our package by shortest way

### Lets write code to create package of mongodb database

In [22]:
# Lets write code to create package of mongodb database
import pandas as pd
import json

class mongodb_operation: # here i have created a class and given named as monogdb_operation, we use the class and objects concepts inorder to have ability to use certain part of the code of the class so we class code through once the object is initlized at outside of the class so by using the initlized object we can use the any part of the code of the class so here part of the code means which we defined various fucntion like create_client,create_database etc 

    def __init__(self,client_url: str, database_name: str, collection_name: str=None): #  # inisde the mongodb_operation class i have defined one method or function which is constructor file and passed 3 parameters which are client_url,database_name,collection_name here first i have defined the construter for utilizing the arguments which i passed to constructor in the anyhwere part of the code of class, we can use those construtor arguments once we intilized those arguments with self then that means we can those arguments anywhere part of the code of class
        self.client_url=client_url  # here iam initlizing varaibles by using self and varaibles of which that i have defined 3 parameters inside my constructor fucntion ,we use self for the arguments which it helps us use those arguments anyhwere of part of the code of a class so self acts as an  
        self.database_name=database_name # so self acts as object to use arguments of the the constructor so  that's y i have intilized the self with those 3 arguments to reuse those arguments in anywhere part of the code of the class
        self.collection_name=collection_name

    def create_client(self): # here iam creating the client so that's y i have defined the another fucntion with self keyword to resue the varaible or argument that we created in the construtor file
        client=MongoClient(self.client_url) # So by using MongoClient function iam using reusing the self.client varaible and which iam passing into varaible client
        return client  # so here iam returning the client 


    def create_database(self):  # here  iam creating the database so thats y i have defined the fucntion with self keyword to use the create_client()
        client=self.create_client()  # here for creating the database we required the client right as we disscuesd in the mongodb concept  that's y iam getiing the client from the above fucntion through self keyword 
        database=client[self.database_name] # here iam passing the self.database_name varaible in the client  and database name passing into the variable database
        return database  # here iam returining that database
        
    def create_collection(self,collection=None): # so after creating the database we required the collection file to save our docuemnt which the data is in formate of Key:value pair
        database=self.create_database()  # the same i have created the collection by using the database_name
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str): # After done creation of collection file i have to insert the record either single record or muiltple record so for that iam writng the logic below which helps to insert the signle and muiltple records in the collection file
        if type(record)==list: # writing a logic for getiing to know whether the inserting record type is list or not so i said that if the record type is found as list  , so here list means a document which consist of many records with key:value pair so like that document we pass the more dict values in the list then that would become a document with many records 
            for data in record: # here iam interating over each record by data varaible 
                if type(data)!= dict: # while iterating if i found that my data varaiable datatypes is not dict then iam raising Typeerror  with message that record must be in dict datatype
                    raise TypeError("record must be in the dict")
                # if the datapassed the above logic then iam going to write the logic below which helps us to insert many records of data in the collection
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
            # if the datapassed the above logic then iam going to write the logic below which helps us to insert single records of data in the collection
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

# if we want ot insert the bulk data then iam writing the below logic which helps to insert the bulk data 
    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

         # here iam writing the condition to read the datafile if it is in excel or csv file 
        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
        # here iam converting the data into json formate then only i can load the data     
        datajson=json.loads(data.to_json(orient='record')) # here i orient= record means iam originizing data in the form of record 

         # here iam going to save that converted data into json one in collection finally, so below by adding function with logics we can add many fuctionalities to our package here fucntionalitlies means update delete etc 
        collection=self.create_collection()
        collection.insert_many(datajson)

# till here we done with writing the logic of inserting either single or many or bulk records inside our class now we need to call class through object for executing the logic that we created inside the class

In [23]:
# giving the values to the arguments that i have given to my constructor which is present inside my class mongo_operation
client_url="mongodb+srv://Mahendra:JTx5FZA7parBernO@cluster0.klmitxd.mongodb.net/?retryWrites=true&w=majority"
database_name="my_database_name" # here we can change our database name 
collection_name="my_collection_nam" # here we can change the collection names if we want to store our records in different collections

In [26]:
# Now iam creating the object and after i will execute the logic by just calling the initlized object to the class
mongo=mongodb_operation(client_url,database_name,collection_name) # here mongo varaiable is called object for the class mongodb_operation

In [27]:
# Now iam inserting the single record inside the collection
mongo.insert_record({"name":"mahendra","designation":"datascientist","salary":"100k"},collection_name) # so by using the object name iam inserting the single record in the collection

In [28]:
# Now iam inserting the many record inside the collection
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"}, # here so by using the object name iam inserting the multiple records in the collection which we can see in our client database of mongodb atlas 
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)